[submodule "modules/vulkan_headers"]
	path = modules/vulkan_headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "modules/vulkan_loader"]
	path = modules/vulkan_loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
[submodule "modules/vulkan_extensions"]
	path = modules/vulkan_extensions
	url = https://github.com/KhronosGroup/Vulkan-ExtensionLayer.git
[submodule "modules/spirv_wrapper"]
	path = modules/spirv_wrapper
	url = https://github.com/bmarques1995/spirv_wrapper.git
[submodule "modules/vulkan_validation"]
	path = modules/vulkan_validation
	url = https://github.com/KhronosGroup/Vulkan-ValidationLayers.git
[submodule "modules/robin_hood_hashing"]
	path = modules/robin_hood_hashing
	url = https://github.com/martinus/robin-hood-hashing.git
